@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-primary {
  @apply border-2 font-semibold hover:text-[#ff944d] hover:border-[#ff944d] border-orange-500 p-2 mt-10 text-orange-500 cursor-pointer;
}

.btn-disable {
  @apply border-2 font-semibold border-gray-600 p-2 mt-10 text-gray-600 cursor-not-allowed;
}

.loader {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 2px solid #f97316; /* Color del borde superior */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

body.dropdown-open {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  overflow: hidden;
}